<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/mdb.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="/build/js/bootstrap.js"></script>
            <script src="/build/js/jquery-3.3.1.min.js"></script>
            <script src="/build/js/homepage.js"></script>
            <script src="/build/js/mdb.min.js"></script>
            <script src="/build/js/popper.min.js"></script>
        {% endblock %}
    </body>
</html>
